<h3> Basic informations! </h3>

<%= f.input :email, required: true, autofocus: true %>
<%= f.input :password, required: true, 
    hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
<%= f.input :password_confirmation, required: true %>

<p><%= f.button :submit, 'Continue' %></p>
