<h1 class="home-title"> 
ESTÁ PRONTO PARA SER RECONHECIDO ?<br />
      VENHA PARA SER O MELHOR! 
</h1>
<h3 class="white coming-soon">
  Em 2015 a "peneira", aguarde!
</h3>
<br />

<div class="links">
  <a href="https://facebook.com/peneira.co" target="_blank" title="Curta nossa página!">
    <i class="fa fa-facebook"></i> /peneira.co
  </a>
  <br />
  <a href="https://twitter.com/cabuumtech" target="_blank" title="Siga a Cabuum no Twitter!">
    <i class="fa fa-twitter"></i> @cabuumtech
  </a>
  <br />
  <a href="https://github.com/cabuum/peneira" target="_blank" title="Fork this project at GitHub!!">
    <i class="fa fa-github"></i> /peneira
  </a>
</div>


<span class="right-text white powered-by">
 powered by: <a href="http://cabuum.com.br" target="_blank" class="brand-logo">Cabuum</a> 
</span>

