<div class="col-md-offset-2 col-md-8">
  <h2>New scout</h2>
  <br />

  <%= render 'form' %>

  <div class="form-group col-md-12">
    <%= link_to :back, scouts_path, class: 'btn btn-default btn-block' %>
  </div>
</div>
